body {
  height: 100vh;
  margin: 0 1rem;
  background: rgb(241, 241, 241);
  font-family: sans-serif;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  display: grid;
  grid-template-rows: 8vh 18vh 45vh 20vh;
  grid-template-areas:
    'head head head head head head head'
    ' . kpis kpis kpis kpis team .'
    ' . graph graph graph graph team .'
    ' . status status status status status .';
  gap: 2rem;
  padding-bottom: 5rem;
}
.main-header {
  grid-area: head;
}
.main-kpi-container {
  grid-area: kpis;
}
.main-team-mood-container {
  grid-area: team;
}
.main-graph-container {
  grid-area: graph;
}
.main-status-container {
  grid-area: status;
}
