body {
  height: 100vh;
  margin: 0 1rem;
  background: rgb(241, 241, 241);
  font-family: 'Roboto', sans-serif;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  display: grid;
  grid:
    'head head head head head head'
    'kpis kpis kpis kpis kpis team'
    'status status status status status team';
  height: 100vh;
}
.test-mood-range {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.main-header {
  grid-area: head;
}
.main-kpi-container {
  grid-area: kpis;
}
.main-team-mood-container {
  grid-area: team;
}
.main-status-container {
  grid-area: status;
}
