.graph-header {
  display: flex;
  flex-direction: row;
}
.graph-title {
  flex: 1;
}
.graph-switch {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.selected-switch::after {
  content: '1';
}
.selected-switch::before {
  content: '2';
}
